<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select instructor')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center" style="margin-top: 50px">


    <div class="col-md-3 m-3" th:each="instructor : ${instructors}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title"><span th:text="${instructor.firstName +' ' +instructor.lastName}"> Name
                            Lastname</span></h5>
                <p sec:authorize="hasRole('ROLE_STUDENT_UNDERGRAD')"
                   th:text="${'Available courses: '+ instructor.getUndergradCourses().size()}">Available courses: 3</p>
                <p sec:authorize="hasRole('ROLE_STUDENT_GRAD')"
                   th:text="${'Available courses: '+ instructor.getGradCourses().size()}">Available courses: 3</p>
                <a th:href="@{'/meetings/new/'+${instructor.id}}" class="btn btn-primary">Select</a>

            </div>
        </div>
    </div>

</div>
</body>

</html>