<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'meetings' ? 'active':''">
                <a class="nav-link" th:href="@{/meetings/all}">Meetings</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'courses' ? 'active':''">
                <a class="nav-link" th:href="@{/courses/all}">Courses</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'instructors' ? 'active':''">
                <a class="nav-link" th:href="@{/instructors/all}">Instructors</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'students' ? 'active':''">
                <a class="nav-link" th:href="@{/students/all}">Students</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'reports' ? 'active':''">
                <a class="nav-link" th:href="@{/reports/all}">Reports</a>
            </li>
        </ul>
    </div>
</th:block>