<!DOCTYPE html>
<html th:fragment="layout (content, activeLink, pageTitle)" xmlns:th="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Page title</title>
    <link rel="stylesheet" th:href="@{/css/vendor/chat.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/vendor/fullcalendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap-notifications.css}"/>
    <script src="https://kit.fontawesome.com/56438f342e.js"></script>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vendor/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/fullcalendar.js}"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137823705-3"></script>-->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137823705-3');
    </script>

</head>

<body>

<!-- Navigation -->
<div sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <th:block sec:authorize="hasRole('ROLE_STUDENT')">
                <!-- menu for student-->
                <div th:replace="fragments/student-nav.html :: navlinks(${activeLink})"></div>
            </th:block>

            <th:block sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                <!-- menu for instructor-->
                <div th:replace="fragments/instructor-nav.html :: navlinks(${activeLink})"></div>
            </th:block>

            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <!-- menu for admin-->
                <div th:replace="fragments/admin-nav.html :: navlinks(${activeLink})"></div>
            </th:block>
            <!--notifications-->




            <!--notifications-->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown dropdown-notifications open">
                        <a th:href="@{/notifications}" class="nav-link dropdown-toggle">
                            <i id="notifications-count" data-count="2" class="fas fa-bell" aria-label="Notification centre"></i>
                        </a>
                    </li>
                    <li>
                        <p class="navbar-nav ml-auto navbar-text"> Logged as:
                            <span sec:authentication="name">username</span> | </p>
                    </li>
                    <li>
                        <form th:action="@{/perform_logout}" id="logout" method="POST">
                            <a class="nav-link" href="#"
                               onclick="document.getElementById('logout').submit(); return false;">Log out</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Page Content -->
<div class="container-fluid">
    <th:block th:include="${content}"/>
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <p>Office Hours Portal version : <span th:text="${currentVersion}"></span></p>
    </div>
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <p>An Open Source Project &#10084;&#65039; by the InfinityMatrix Group for CS5610 Spring 2021</p>
    </div>
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <p>For GitHub Repo: <a href="https://github.com/mnbatra/officehours-portal">Click Me</a>. Total Time Invested: 126 hours </p>
    </div>
</div>

<script th:inline="javascript">
    function fetchdata(){
        $.ajax({
            url: '/api/user/notifications',
            type: 'get',
            success: function(data){
                let element = document.getElementById("notifications-count");
                if(data>0 && data!=null){
                    element.setAttribute("data-count",data);
                    element.className = "fas fa-bell notification-icon";
                }
                else{
                    element.setAttribute("data-count",0);
                    element.className = "fas fa-bell";
                }
            },
            complete:function(data){
                setTimeout(fetchdata,5000);
            }
        });
    }

    $(document).ready(function(){
        fetchdata();
        setTimeout(fetchdata,5000);
    });

</script>

</body>

</html>
