<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students','Students')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>


<div class="row align-items-center justify-content-center" style="margin-top: 50px">
    <div>
        <table id="students" class="table table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th> Name</th>
                <th> Type </th>
                <th> E-mail</th>
                <th> Meetings</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${students == null}">
                <td colspan="4"> No Students Available</td>
            </tr>
            <tr th:each="student : ${students}" th:classappend="${student.getType()=='undergrad' ? 'table-primary' : 'table-info'}">
                <td><span th:text="${student.firstName +' ' + student.lastName}"> Name Lastname </span></td>
                <td><span th:text="${student.getType() == 'undergrad'? 'undergrad':'grad'}"> Undergrad </span></td>
                <td><span th:text="${student.email }"> email </span></td>
                <td><span th:text="${student.meetings.size() }"> 3 </span></td>
                <td><a class="btn btn-secondary" th:href="@{'/students/' + ${student.id}}"
                       role="button">Details</a>
                    <form class="d-inline-block" th:action="@{/students/delete}" method="POST">
                        <input type="hidden" name="studentId" th:value="${student.id}" />
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>

</html>