<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Hello, <span th:text="${meeting.instructor.firstName}"></span></p>
<p>One of your customers booked an meeting with you, here are the details:</p>
<p>Start date: <span th:text="${#temporals.format(meeting.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Customer: <span th:text="${meeting.student.firstName +' '+ meeting.student.lastName}"></span></p>
<p>Course: <span th:text="${meeting.course.name}"></span></p>
<p>Duration: <span th:text="${meeting.course.duration}"></span> min</p>
<p>Price: <span th:text="${meeting.course.credits}"></span> PLN</p>

<p>Contact phone: <span th:text="${meeting.student.mobile}"></span></p>


</body>
</html>