body {
    font-family: "Open Sans", sans-serif;
    background-color: #E8E8E8;
}

.form-control {
    font-style:italic
}

.title {
    background-color: #E8E8E8;
    padding: 15px;
    border-bottom: solid gainsboro;
    border-width: thin;
    color: #696969;
}

.fa-file {
    padding-right: 10px;
    color: blue;
}

.row-css {
    background-color: paleturquoise;
}